<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<<<<<<< HEAD
<td>All_TestClasses.TC006_CreatePackageTimePlan</td>
=======
<td>All_TestClasses.fcsd</td>
>>>>>>> origin/master
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<td>Create_PackageTestPlan</td>
=======
<td>asd</td>
>>>>>>> origin/master
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<<<<<<< HEAD
<td>&nbsp;</td>
<td>Open_Brouser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkStatus</td>
<td>&nbsp;</td></tr>
<tr>
=======
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
>>>>>>> origin/master
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
