<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="9e6180">  <td>24/03/29 07:34:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_CreatePackageTimePlan.Open_Brouser(org.testng.ITestContext)[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@4602c2a9]">&gt;&gt;Open_Brouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1873121466</td>   <td></td> </tr>
<tr bgcolor="817693">  <td>24/03/29 07:34:50</td>   <td>-209</td> <td title="&gt;&gt;A_Base_Class.initialiseExtentReports()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@4602c2a9]">&gt;&gt;initialiseExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1873121466</td>   <td></td> </tr>
=======
<tr bgcolor="89bb9f">  <td>23/08/24 12:24:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="fcsd.asd()[pri:0, instance:All_TestClasses.fcsd@d737b89]">asd</td> 
  <td>main@1571798597</td>   <td></td> </tr>
>>>>>>> origin/master
</table>
