<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee72e6">  <td>23/01/16 03:36:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test_Admin_Create_Business.Login()[pri:0, instance:All_TestClasses.Test_Admin_Create_Business@79924b]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@52908367</td>   <td></td> </tr>
<tr bgcolor="ee72e6">  <td>23/01/16 03:36:36</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test_Admin_Create_Business.LogOut()[pri:0, instance:All_TestClasses.Test_Admin_Create_Business@79924b]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ee72e6">  <td>23/01/16 03:36:36</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test_Admin_Create_Business.Close_Brouser()[pri:0, instance:All_TestClasses.Test_Admin_Create_Business@79924b]">&lt;&lt;Close_Brouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ee72e6">  <td>23/01/16 03:36:36</td>   <td>-91</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test_Admin_Create_Business.Open_Brouser()[pri:0, instance:All_TestClasses.Test_Admin_Create_Business@79924b]">&gt;&gt;Open_Brouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@52908367</td>   <td></td> </tr>
<tr bgcolor="ee72e6">  <td>23/01/16 03:36:36</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Admin_Create_Business.Tc1()[pri:0, instance:All_TestClasses.Test_Admin_Create_Business@79924b]">Tc1</td> 
  <td>main@52908367</td>   <td></td> </tr>
</table>
