<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="cf93bb">  <td>24/03/29 08:07:59</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;A_Base_Class.teardown()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="cf93bb">  <td>24/03/29 08:07:59</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;A_Base_Class.checkStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&lt;&lt;checkStatus</td> 
<td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="cf93bb">  <td>24/03/29 08:07:59</td>   <td>581</td> <td title="&lt;&lt;A_Base_Class.generateExtentReports()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&lt;&lt;generateExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/03/29 08:05:13</td>   <td>-165034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_CreatePackageTimePlan.Login()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/03/29 08:05:29</td>   <td>-149972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC006_CreatePackageTimePlan.Create_PackageTestPlan()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">Create_PackageTestPlan</td> 
  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/03/29 08:05:03</td>   <td>-175757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_CreatePackageTimePlan.Open_Brouser(org.testng.ITestContext)[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&gt;&gt;Open_Brouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
<tr bgcolor="cf93bb">  <td>24/03/29 08:05:03</td>   <td>-175961</td> <td title="&gt;&gt;A_Base_Class.initialiseExtentReports()[pri:0, instance:All_TestClasses.TC006_CreatePackageTimePlan@79e18e38]">&gt;&gt;initialiseExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2079961240</td>   <td></td> </tr>
=======
<tr bgcolor="dd9eb7">  <td>23/08/25 13:47:43</td>   <td>0</td> <td title="&lt;&lt;A_Base_Class.generateExtentReports()[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&lt;&lt;generateExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="dd9eb7">  <td>23/08/25 13:44:20</td>   <td>-202630</td> <td title="&gt;&gt;A_Base_Class.initialiseExtentReports()[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&gt;&gt;initialiseExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="fd97a8">  <td>23/08/25 13:44:20</td>   <td>-202409</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAdmin_EditAddon_with_Savecard_Info.Open_Brouser(org.testng.ITestContext)[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&gt;&gt;Open_Brouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="dd9eb7">  <td>23/08/25 13:47:42</td>   <td>-433</td> <td>&nbsp;</td><td title="&lt;&lt;A_Base_Class.teardown()[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="fd97a8">  <td>23/08/25 13:44:44</td>   <td>-178390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAdmin_EditAddon_with_Savecard_Info.EditAddon_MakePay_via_SaveCard()[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">EditAddon_MakePay_via_SaveCard</td> 
  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="dd9eb7">  <td>23/08/25 13:47:42</td>   <td>-886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;A_Base_Class.checkStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&lt;&lt;checkStatus</td> 
<td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
<tr bgcolor="fd97a8">  <td>23/08/25 13:44:29</td>   <td>-193792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAdmin_EditAddon_with_Savecard_Info.Login()[pri:0, instance:All_TestClasses.TestAdmin_EditAddon_with_Savecard_Info@732f29af]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@125644421</td>   <td></td> </tr>
>>>>>>> origin/master
</table>
